@import './../../../../styles/variable';
.tags-wrapper {
  padding: 10px $kContentPadding;
  display: inline-block;
  border: 1px solid $kSecondaryColor;
  border-radius: $kBorderRadiusMedium;
  font-size: $kFontsize11;
  margin-right: $kContentPadding;
  margin-top: $kContentPadding;
  &.selected {
    color: $kTextWhite;
    background-color: $kActivePrimaryColor;
  }
}
