$kFontFamilyRegular: 'Avenir-Regular';
$kFontFamilyBold: 'Avenir-Bold';
$kFontFamilyHeavyIt: 'Avenir-HeavyIt';

$kPrimaryColor: #2f904f;
$kSecondaryColor: #dadada;
$kTextColor: #0f1e36;
$kTextWhite: #ffffff;
$kTextBlack: #000000;
$kActivePrimaryColor: #2f904f;
$kBorderRadiusMedium: 6px;
$kBorderRadiusSmall: 3px;

$kPrimaryOpacity: 0.5;

$kGradientBackground: linear-gradient(
  180deg,
  rgba(244, 249, 255, 0.0001) 0%,
  #f4f9ff 26.23%
);

$kSidePadding: 22px;
$kContentPadding: 15px;
// font size
$kFontsize10: 0.625em;
$kFontsize11: 1em;
$kFontsize12: 1.0909em;
$kFontsize14: 1.2727em;
$kFontsize16: 1.4545em;
$kFontsize18: 1.6363;
$kFontsize22: 2em;
$kFontsize24: 2.1818em;
