@import './variable';
@import './fonts.scss';
@import '../../node_modules/antd/dist/antd.css';

* {
  color: $kTextColor;
  font-family: $kFontFamilyRegular;
}

.cursor-pointer-g {
  cursor: pointer;
}
