$list: ('Bold', 'Regular', 'HeavyIt');

@mixin setRobotoFonts {
  @each $var in $list {
    @font-face {
      font-family: 'Avenir-#{$var}';
      src: url('../assets/fonts/Avenir_Next/AvenirNextLTPro-#{$var}.otf');
    }
  }
}
@include setRobotoFonts();
