@import './../../../../styles/variable';
.content-card {
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 20px;
  width: 112px;
  height: 112px;
  border-radius: $kBorderRadiusSmall;
  background-color: $kSecondaryColor;
  &--title {
    font-family: $kFontFamilyBold;
    font-size: $kFontsize12;
  }
  &--description {
    font-size: $kFontsize10;
    opacity: 0.48;
  }
}
