@import './../../../../styles/variable';
.search-bar {
  &--input {
    border: none;
    box-shadow: none;
    padding: $kSidePadding 10px 0 $kSidePadding;
    &:focus {
      box-shadow: none;
      border: none;
    }

    input {
      font-size: $kFontsize11;
      color: $kTextBlack;
      opacity: 1;
      text-overflow: ellipsis;
      &::placeholder {
        color: $kTextBlack;
        opacity: 0.5;
        text-overflow: ellipsis;
      }
    }
  }
  &--icon-search {
    margin-right: 10px;
  }
}
